/*
* @Author: rancho
* @Date:   2019-09-29 18:22:46
* @Last Modified by:   rancho
* @Last Modified time: 2019-09-29 18:23:03
*/
table {
    border-collapse: collapse;
}
th, td {
    border: solid 1px #6D6D6D;
    padding: 5px 10px;
}
.mt-sm {margin-top: 8px;}
body {
	background: #f4f4f4;
	padding: 0;
	margin: 0;
}
.container {
	width: 1024px;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
	min-height: 100vh;
}
.result.hidden {
	display: none;
}